<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h3>Autor de la página: Martina Trocki Adatto</h3>
  <img src="/images/Foto DNI.JPG" height="150">
  </body>
</html>
